/* body{
    background-color: red;
}

p {
    color: blue;
  } */

  .test{
    background-color: red;
  }

  .test2{
    color: blue;
  }

/* parentの中にあるtestクラスだけ */
  .parent .test{
    color: yellow;
  }

  #heading-1, .test2{
    color: chartreuse;
  }